body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #0f172a;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0f172a;
  font-style: caption;
}

.text-md {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #0f172a;
}

span,
p,
a,
div,
input,
.text-rg {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.text-caption-md {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #0f172a;
}

.text-caption-rg {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #94a3b8;
}

.text-caption-sm {
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: #0f172a;
}
